




// APPLY FONT FACES
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $primary-font;
    
}



// FONT SIZING

h1{
    font-size: $h1-size; 
    
}

h2{
    font-size: $h2-size; 
    
}

h3{
    font-size: $h3-size;
    
}
h4{
    font-size: $h4-size;
    
}

h5{
    font-size: $h5-size;
    
}
h6{
    font-size: $h6-size;
}

body{// This will make  everything else 16px
    font-size: 1.6rem;
    font-family: $secondary-font;
    color: rgba($black,.7);
}

// LINKS
a{
    color:$primary;
    text-decoration: none;
    transition: .1s ease;
}